/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin: 0;
    font-size: 0;
}

.foto{
    width: 250px;
    position: relative;    
}

.logo{
    position: absolute;
    top: 140px;
    left: 190px;
    background-color: #b92e81;
    border-radius: 50%;
}

.obsah{
    background-color: #31363b;
    width: 250px;
    color: whitesmoke;    
    padding: 1.5rem 1rem;
    height: 350px;
    display:inline-block;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(192, 189, 189);
    
    font-size: 13px;
}