/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin: 8px;
    font-size: 0;
}

.foto{
    width: 250px;
    position: relative;    
}

.logo{
    position: absolute;
    top: 140px;
    left: 190px;
    background-color: #b92e81;
    border-radius: 50%;
}

.obsah{
    background-color: #31363b;
    width: 250px;
    color: whitesmoke;    
    padding: 1.5rem 1rem;
    height: 350px;
    display:inline-block;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdc3c7;
    font-weight: 700;
    font-size: 15px;
}

.odkazy{
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
    padding: 3em;
}

nav ul{
    list-style-type: none;
    display: block;
    font-size: 0;
    background-color: #31363b;
    width: 250px;
    border-color:  #3f464d;
}

nav li{
    background-color: #31363b; 
    text-align: center;
    display: inline-block;
    height: 3rem;  
}

.portfolio{
 width: 250px;  
 border-style: solid none; 
 border-color: #3f464d;
}

.facebook{
    display:inline-block;
    border-color:#3f464d;
    border-style: none solid none none;
    margin: 0;
    width: 125px;
    box-shadow: #31363b 4px 6px 20px; 
}

.twitter{
    display:inline-block;
    margin: 0;
    width: 125px;
    box-shadow: #31363b 4px 6px 20px;
}

nav a{
    text-decoration: none;
    color: #bdc3c7;
    font-size: 26px;
}

.twitter :hover{
background-color: #1da1f2;
color:whitesmoke;
}

.facebook :hover{
    background-color: #3b5998;
    color:whitesmoke;
}

nav li.portfolio :hover{
    background-color: #e74c3c;
    color: whitesmoke;
}

